.addQ-container {
  overflow-y: visible;
  position: relative;
  font-family: 'Itim', cursive;
}
.addQ-main-container {
  flex-direction: column;
  min-height: 40vh;
  border-radius: 1em;
  background: linear-gradient(
    to right bottom,
    rgba(40, 158, 218, .7),
    rgba(40, 158, 218, 1)
  );
  overflow-x: hidden;
  overflow-y: visible;
  display: flex;
  .addQ-main-content {
    overflow-y: visible;
    flex: 3;
    background: linear-gradient(
      to right bottom,
      rgba(255,255,255,0.5),
      rgba(255,255,255,0.3)
    );
    z-index: 3;
    margin: 10px;
    padding: 1em;
    animation-name: slideRightAddQ;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: linear;
    width: 70%;
    transform: translateX(-115%);
    filter: drop-shadow(10px 10px 4px rgba(0,0,0,.5));
  }
  .noTopicBack {
    background-image: url('../../assets/images/chuttersnap-f39ab9Rrx0Q-unsplash.jpg');
    background-size: cover;
    .noTopic {
      background-color: rgba(179,207,221,.80);
      text-align: center;
      padding: .5em;
    }
  }
  .addQ-topic-select {
    margin: 0 auto;
    display: flex;
    width: 80%;
    h4 {
      flex: 2;
    }
    select {
      flex: 1;
      border-radius: 1em;
      padding: .5em 1em;
    }
  }
  .addQ-answer {
    color: rgb(40, 158, 218);
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    textarea {
      margin-top: 2px;
      width: 100%;
    }
  }
  .addQ-side-panel {
    z-index: 2;
    margin: 10px;
    padding: 10px;
    flex: 1;
    width: 20%;
    background-color: transparent;
    border-radius: 1em;
    .addQ-button-div {
      position: absolute;
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      display: flex;
      padding: 10px;
      background: linear-gradient(
        to right bottom,
        rgba(225, 221, 221, .8),
        gray
      );
      justify-content: center;
      align-items: center;
      bottom: 15rem;
      right: 2rem;
      .btn-add {
       opacity: 0;
       animation: buttonFadeIn 4s forwards 2s;
       width: 70%;
       height: 70%;
       border-radius: 50%;
       border: 4px solid white;
      }
      .btn-add:hover {
        transform: scale(1.10);
      }
    }
  }
}
@media only screen and (min-width: 1000px) {
  .addQ-main-container {
    flex-direction: row;
    border-radius: 1em;
    padding: 1em;
    min-height: 80vh;
    overflow-y: visible;
    .addQ-main-content {
      border-radius: 1em;
      overflow-y: visible;
      .answer {
        border-radius: 1em;
      }
      .addQ-side-panel {
        flex: 1;
        border-radius: 1em;
        width: 20%;
        .top-spacer {
          background-color: white;
        }
        .addQ-button-div {
          .btn-add {
            opacity: 0;
            animation: buttonFadeIn 4s forwards 2s;
            margin-top: 10%;
            
          }
        }
    }
    
    }
  }
  .addQ-accent-circle {
    z-index: 1;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    right: 30px;
    background-image: url("../../assets/images/siora-photography-ZslFOaqzERU-unsplash.jpg");
    background-size: cover;
  }
  .addQ-accent-circle2 {
    z-index: 1;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: absolute;
    bottom: 140px;
    right: 180px;
    background: linear-gradient(
      to top right,
      rgba(247, 138, 50, 0.8),
      rgba(230, 92, 7, 1)
    );
  }
}

@keyframes slideRightAddQ { 
  100% {transform: translateX(0%)}
 }

 @keyframes buttonFadeIn {
   0% {opacity: 0}
   100% {opacity: 1}
 }