
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  background-image: url('../../assets/images/chuttersnap-f39ab9Rrx0Q-unsplash.jpg');
  background-size: cover;
  .main-content {
    min-height: 60vh;
    background-color: rgba(179,207,221,.50);
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
  }
  .answer {
    background-color: white;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    textarea {
      margin-top: 2px;
      width: 100%;
    }
  }
  .button-div {
    flex: .5;
    padding: 20px;
    button {
      margin: 0 auto;
      padding: 15px;
      width: 50%;
      margin-right: 25%;
      margin-left: 25%;
    }
  }
}
@media only screen and (min-width: 768px) {
  .main-container {
    min-height: 80vh;
    .button-div{
      button {
        width: 20%;
        margin-right: 40%;
        margin-left: 40%;
      }
    }
  }
}
   
    
