.main-container {
  display: flex;
  flex-direction: row;
  .main-content {
    flex: 3;
    background-color: rgba(179,207,221,.50);
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
  }
  .answer {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    textarea {
      width: 100%;
    }
  }
  .side-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    .top-spacer {
      padding: 10px;
      margin-top: 20%;
      flex: 3;
      background-image: url('../../assets/images/gaelle-marcel-L8SNwGUNqbU-unsplash.jpg');
      background-size: cover;
    }
    .button-div {
      margin: 0 auto;
      flex: 1;
      justify-content: center;
      padding: 10px;
      button {
        margin-top: 50%;
        padding: 10px;
      }
    }
    
  }
}