.editQ-main-container {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  .editQ-main-content {
    flex: 3;
    background-color: rgba(179,207,221,.50);
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
  }
  .editQ-topic-select {
    h4 {
      display: inline-block;
      margin-right: 20px;
    }
  }
  .answer {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    textarea {
      margin-top: 2px;
      width: 100%;
    }
  }
  .side-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    .top-spacer {
      display: none;
    }
    .button-div {
      flex: 1;
      margin: 0 auto;
      width: 100%;
      padding: 10px;
      button {
       width: 50%;
       margin-left: 25%;
       margin-right: 25%
      }
    }
  }
}
@media only screen and (min-width: 1000px) {
  .editQ-main-container {
    min-height: 80vh;
    flex-direction: row;
    border-radius: 1em;
    background: linear-gradient(
    to right bottom,
    rgba(40, 158, 218, .7),
    rgba(40, 158, 218, 1)
    );
    .side-panel {
      flex-direction: column;
      .top-spacer {
        background-image: url("../../assets/images/david-pennington-T-GjUWPW-oI-unsplash.jpg");
        background-size: cover;
        margin-top: 1em;
        display: flex;
        flex: 3;
      }
      .editQ-button-div {
        button {
          margin-top: 10%;
          border-radius: 1em;
        }
      }
    }
  }
}


 