.main-container {
  min-height: 80vh;

  .main-content {
    background-image: url('../../assets/images/windows-v94mlgvsza4-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    flex: 3;
    display: flex;
    flex-direction: column;

    .welcome-info {
      background: rgba(179,207,221,.50);
      flex: 1;
      color: white;
      padding: 60px;
      height: 10%;
      p {
        margin: 20px;
        font-size: 1.5em;
        font-weight: 400;
      }
      .welcome-nav {
        margin-top: 180px;
      }
    }
    
  }
  
}