.footer {
  background-color: rgba(109, 110, 110, 0.8);
  display: flex;
  flex-direction: column;
  .footer-links {
    list-style-type: none;
    flex: 1;
    display: flex;
    a {
      flex: 1;
      text-align: center;
    }
    li {
      font-size: 2em;
      color: white;
    }
  }
  .footer-image-info {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: .5em;
    padding: 1em;
    flex: 2;
    li {
      flex: 1;
      text-align: center;
    }
  }
}

.nav-link {
  border-bottom: 2px solid rgba(1,1,1,0);
}
.nav-link:hover {
  border-bottom: 2px solid black;
}

.logoImage {
  width: 200px;
  height: 60px;
  background-image: url('../../assets/images/studyLogo.png');
  background-size: cover;
  border-radius: 20px;
  border: 5px solid rgb(179,207,221);
}

.logoImage:hover {
  border: 5px solid rgb(40, 158, 218,);
}

@media (min-width: 768px) {
  .footer {
    .footer-links{
      margin-top: .5em;
      flex: 1;
    }
    .footer-image-info {
      flex-direction: row;
    }
  }
}