.main-container {
  width: 60%;
  margin: 0 auto;
  min-height: 40vh;
  .main-content {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    button{
      margin-top: 10px;
    }
  }
  .logged-in {
    background-image: url('../../assets/images/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg');
    background-size: cover;
    min-height: 40vh;
    text-align: center;
    border: 2px solid black;
    .h1-wrapper {
      background-color: rgba(179,207,221, .8);
      height: 30%;
      padding: 5%;
    }
  }
}
@media only screen and (min-width: 768px) {
  .main-container {
    min-height: 80vh;
  }
}