.main-container {
  background-image: url('../../assets/images/muhammed-jiyadh-_a0_zDprub8-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  min-height: 80vh;
  .main-content{
    background-color: rgba(179,207,221, .8);
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    .btn {
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
      margin-bottom: 2em;
      margin-top: 2em;
    }
  }
}
@media only screen and (min-width: 768px) {
  .main-container {
    min-height: 80vh;
    .main-content {
      .btn {
        width: 20%;
        margin-left: 40%;
        margin-right: 40%;
      }
    }
  }
}