.main-container {
  background-image: url("../../assets/images/nick-fewings-f2Bi-VBs71M-unsplash.jpg");
  background-size: contain;
  min-height: 80vh;
  select {
    margin: 5%;
  }
  .main-content {
    background-color: rgba(179,207,221, .5);
    padding: 5%;

    h3{
      display: inline;
      margin-left: 20px;
    }
    .quiz-select {
      display: inline;
    }
    p {
      font-size: 2em;
      margin-left: 20%;
      margin-bottom: 5%;
    }
    button {
      margin: 0 auto;
      margin-top: 5%;
      display: block;
    }
    .text-div {
      background-color: white;
      padding: 5%;
    }
  }
}